@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans&display=swap');

body {
    margin: 0 auto 0 auto;
    background-image: radial-gradient(#2c2c2c, #1c1c1c);
}

.container {
    display: flex;
    justify-content: center;
}

aside {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-around;
    background-color: #0c0c0c;
    height: 1080px;
    box-shadow: 10px 10px 5px #000000;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    background-color: #ffffff;
    height: 1080px;
    box-shadow: 10px 10px 5px #000000;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    border-radius: 50%;
    border: 4px solid #d800ff;
}

aside h3 {
    color: #d800ff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 26px;
    margin-bottom: 10px;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 60px;
    margin-right: 60px;
}

.contato p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 8px;
}

.competencias {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 60px;
    margin-right: 60px;
}

.competencias p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.experiencia {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 60px;
    margin-right: 60px;
}

.experiencia p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 52px;
    color: #d800ff;
    margin-bottom: 0px;
    text-shadow: 2px 2px 2px #aaaaaa;;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 32px;
    color: #000000;
    margin-top: 0px;    
}

main h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 26px;
    color: #d800ff;
    margin-top: 0px;
    margin-bottom: 5px;
}

.perfil p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
}

.formacao {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

.local {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: #000000;
    margin-bottom: 0px;
}

main span {
    color: #7e7e7e;
}

.data {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: #7e7e7e;
    margin-top: 4px;
    margin-bottom: 0px;
}

.curso {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: #000000;
    margin-top: 4px;
}